@{
    /**/

    ViewBag.Title = "Reset password confirmation";
    
}

<div class="login-box">
    <div class="login-logo">
        @*<h2>@ViewBag.Title</h2>*@
        <img src="~/Content/AdminLTE/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image" style="Width: 50px; Height: 50px"> <a href="#"><b>Confir</b>mation </a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">@ViewBag.Title</p>
        <hr />
        <p class="login-box-msg text-success">
            Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>

    </div>
    <!-- /.login-box-body -->
</div>