<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ULABOBE.WinApp.Properties.Settings.ULABOBEConnectionString"
            connectionString="Data Source=BARUN\SQLEXPRESS;Initial Catalog=ULABOBE;Persist Security Info=True;User ID=sa;Password=!QAZbarun2019"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>