@model ULABOBE.Models.ViewModels.GenericSkillVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Create Generic Skill";
}


<form method="post">
    <div class="row p-3 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>



        @if (Model.GenericSkill.Id != 0)
        {

            <input type="hidden" asp-for="GenericSkill.Id" />
            <input type="hidden" asp-for="GenericSkill.QueryId" />
            <input type="hidden" asp-for="GenericSkill.CreatedBy" />
            <input type="hidden" asp-for="GenericSkill.CreatedIp" />
            <input type="hidden" asp-for="GenericSkill.CreatedDate" />
            //edit
            title = "Edit Generic Skill";
        }
        <div class="col-12 border-bottom">
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="col-8 pt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="GenericSkill.GSCode"></label>
                </div>
                <div class="col-8">
                    <input asp-for="GenericSkill.GSCode" class="form-control" />
                    <span asp-validation-for="GenericSkill.GSCode" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    Category
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.GenericSkill.GSkillTypeId, Model.GenericSkillTypeLists, "-Select a Generic Skill Type",
                        new { @class = "form-control" })
                    <span asp-validation-for="GenericSkill.GSkillTypeId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="GenericSkill.IsActive"></label>
                </div>
                <div class="col-8">
                    <input asp-for="GenericSkill.IsActive" class="form-control" />
                    <span asp-validation-for="GenericSkill.IsActive" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="GenericSkill.Priority"></label>
                </div>
                <div class="col-8">
                    <input asp-for="GenericSkill.Priority" class="form-control" />
                    <span asp-validation-for="GenericSkill.Priority" class="text-danger"></span>
                </div>
            </div>


            <input type="hidden" asp-for="GenericSkill.IsDeleted" value="false" />
            <input type="hidden" asp-for="GenericSkill.CreatedBy" value="423036" />
            <input type="hidden" asp-for="GenericSkill.CreatedIp" value="172.0.0.0" />
            <input type="hidden" asp-for="GenericSkill.UpdatedBy" value="423036" />
            <input type="hidden" asp-for="GenericSkill.UpdatedIp" value="172.0.0.0" />


            <br />
            <div class="form-group row">
                <div class="col-8 offset-4">
                    @if (Model.GenericSkill.Id != 0)
                    {

                        <partial name="_EditAndBackToListButton" model="Model.GenericSkill.Id" />
                    }
                    else
                    {
                        <div class="row">
                            <div class="col">
                                <button type="submit" onclick="return validateInput()" class="btn btn-primary form-control">Create</button>
                            </div>
                            <div class="col">
                                <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col col-lg-12"><br /><br /></div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdn.tiny.cloud/1/ts0708avjz6hbhhzi12375edn6ln2fznt4nkp6jvmtfaiky1/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

    <script>

        

    </script>
}