@model ULABOBE.Models.ViewModels.InstructorVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Create Instructor";
}


<form method="post">
    <div class="row p-3 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>



        @if (Model.Instructor.Id != 0)
        {

            <input type="hidden" asp-for="Instructor.Id" />
            <input type="hidden" asp-for="Instructor.QueryId" />
            <input type="hidden" asp-for="Instructor.CreatedBy" />
            <input type="hidden" asp-for="Instructor.CreatedIp" />
            <input type="hidden" asp-for="Instructor.CreatedDate" />
            //edit
            title = "Edit Instructor";
        }
        <div class="col-12 border-bottom">
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="col-8 pt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Instructor.Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Instructor.Name" class="form-control" />
                    <span asp-validation-for="Instructor.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Instructor.ShortCode"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Instructor.ShortCode" class="form-control" />
                    <span asp-validation-for="Instructor.ShortCode" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    Category
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.Instructor.DesignationId, Model.DesignationList, "-Select a Designation-",
                        new { @class = "form-control" })
                    <span asp-validation-for="Instructor.DesignationId" class="text-danger"></span>
                </div>
            </div>

           

           
            <input type="hidden" asp-for="Instructor.IsDeleted" value="false" />
            <input type="hidden" asp-for="Instructor.CreatedBy" value="423036" />
            <input type="hidden" asp-for="Instructor.CreatedIp" value="172.0.0.0" />
            <input type="hidden" asp-for="Instructor.UpdatedBy" value="423036" />
            <input type="hidden" asp-for="Instructor.UpdatedIp" value="172.0.0.0" />

            @*<div class="form-group row">
                    <div class="col-4">
                        <label asp-for="IsActive"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="IsActive" class="form-control" />
                        <span asp-validation-for="IsActive" class="text-danger"></span>
                    </div>
                </div>*@
            <br />
            <div class="form-group row">
                <div class="col-8 offset-4">
                    @if (Model.Instructor.Id != 0)
                    {

                        <partial name="_EditAndBackToListButton" model="Model.Instructor.Id" />
                    }
                    else
                    {
                        <div class="row">
                            <div class="col">
                                <button type="submit" onclick="return validateInput()" class="btn btn-primary form-control">Create</button>
                            </div>
                            <div class="col">
                                <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}